<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/fog.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/image.svg">
    </div>

    {{>footer}}
</body>

</html>